img {
    width: 100px;
    border-radius: 10px;
  }
  
  .form-margin {
    margin-bottom: 12px;
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .cart-item-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 80px;
  }
  
  .number-input {
    width: 80px;
    text-align: center;
  }
  
  .cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
  }
  
  .cart-panel {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .empty-cart-message {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }

  input {
    width: 3%;
  }

  .input-form {
    width: 10%;
  }

  button {
    width: 5%;
    background-color: rgb(74, 74, 252);
    border: none;
    box-sizing: border-box;
    padding: 1%;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
  }